<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <title></title>
        <link rel="shortcut icon" href="/public/img/favicon-32x32.png"/>
        <link rel="stylesheet" href="/public/css/jquery-ui.structure.css">
        <link rel="stylesheet" href="/public/css/jquery-ui.css">
        <link rel="stylesheet" href="/public/css/main.css">
    </head>
    <body>
        <div class="site">
            <header>

            </header>
            <div class="content">